*{
	font-family: Arial;
	margin: 0;
}
h1{
	margin-left: 40%;
}
header{
	display: flex;
	box-shadow: 10px 5px 5px black;
	padding: 30px;
}
a{
	float: right;

}
footer{
	position: absolute;
	bottom: 0;
	padding: 10px;
}
input::placeholder{
	font-size: 20px;
}
.tchat{
	padding-left: 20px;
	font-size: 20px;
	height: 30px;
	width: 1200px;
	border-radius: 20px;
}

.label-file {
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    border:solid 2px black ;
    border-radius: 20px ;
    padding-left: 5px;
    padding-right: 5px;
}

.input-file {
    display: none;
}
button{
	float: right  ;
}
.deco{
	margin-left: 30px;
}